{% extends "broker/base.html" %} {% block content %} {% include "broker/company/navbar.html" %} {% if companies %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for company in companies %}
      <tr>
        <th scope="row">{{ company.id }}</th>
        <td>{{ company.name }}</td>
        <td>{{ company.email }}</td>
        <td>
          <form action="{% url 'broker:company-update' company.id  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
          </form>
          <form action="{% url 'broker:company-delete' company.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1>No companies found.</h1>
  {% endif %}
  <div class="col-md-12">
    <form action="{% url 'broker:company-entry'  %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="btn center btn-primary">
        Add a company
      </button>
    </form>
  </div>
</div>
{% endblock %}
