:root {
  --background: white;
  --color1: rgba(178, 236, 177, 1);
  --color2: rgba(135, 196, 130, 1);
  --color3: rgba(103, 189, 102, 1);
  --color4: rgba(70, 140, 68, 1);
  --color5: rgba(62, 115, 61, 1);
  --border: #888;
}

body {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color: var(--background);
}

#navbar {
  background-color: var(--color1) !important;
  border-bottom: 1px var(--border) solid;
}
